<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>

  <header class="navbar">
    <h1>Whispering</h1>
  </header>

  <main class="container">
    <h2>Welcome to Whispering!</h2>

    <img src="/premium_photo.avif" alt="community" class="hero-image" />


    <p class="credit">
      Photo by <a href="https://unsplash.com">Brooke Cagle</a> on Unsplash
    </p>

    <h3>What is Whispering?</h3>
    <p>
      Whispering is a microblogging platform that allows you to share
      your thoughts with the world and learn Node.js on the way.
    </p>

    <h3>Community live ⚡</h3>
    <p>
      Currently there are <strong><%= whisperCount %></strong> whispers available
    </p>
  </main>

</body>
</html>
